.DS_Store
.idea

node_modules
.husky/_
dist
docs/.vuepress/.temp
docs/.vuepress/.cache

.markdownlint-cli2.cjs

stylelint.config.cjs
.stylelintignore

eslint.config.cjs

prettier.config.cjs
.prettierignore

commitlint.config.cjs
