# ---[manual] default start---
.DS_Store
.idea
node_modules
.husky/_
docs/.vuepress/.temp
docs/.vuepress/.cache
tests/coverage
# tsc 生成的 .d.ts 和 .js 文件仅本地调试用
src/**/*.d.ts
src/**/*.js
# ---[manual] default end---

# ---[auto] lint start---
.markdownlint-cli2.cjs
stylelint.config.cjs
.stylelintignore
eslint.config.cjs
prettier.config.cjs
.prettierignore
commitlint.config.cjs
# ---[auto] lint end---
