// 全局样式
/**
 * reset
 */
@import "../../node_modules/normalize.css/normalize.css";
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:before, &:after{box-sizing: border-box;}
}
body{
  font: 14px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #333;background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  margin: 0;
  padding: 0;
}
button, input, select, textarea{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input::-ms-clear, input::-ms-reveal{
  display: none;
}
a{
  color: #409eff;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease;
  display: inline-block;
  &:hover{color: #79bbff;}
  &:active{color: #337ecc;}
  &:active, &:hover{outline: 0;text-decoration: none;}
  &[disabled]{color: #ccc;cursor: not-allowed;pointer-events: none;}
}
code, kbd, pre, samp{
  font-family: Consolas, Menlo, Courier, monospace;
}
ul, ol, li{list-style: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
i, em, address{ font-style: normal;}
img{-webkit-user-drag: none;vertical-align: middle;}

/**
 * el 全局样式定制
 */
.el-card__body > * +*:not(button,i,em,span){margin-top: 20px;}
